{% extends 'empleados/base.html' %}
{% load static %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fontfaceobserver/2.1.0/fontfaceobserver.standalone.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Mordato:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
{% include 'empleados/partials_gafete_estilos.html' %}

<div class="page-body">
  <div class="container-fluid">
    <div class="edit-profile">
      <div class="row">
        <div class="gafetes-container">
          <div class="col-xl-12 gafete">
            {% include 'aulapro/partials/_gafete_preview.html' with alumno=empleado grado=grado_gafete preview_id='gafete' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if user.is_authenticated %}
<div style="display: flex; gap: 10px; justify-content: center; margin-top: 20px;">
  <button id="download-gafete-button" onclick="downloadGafete()" style="padding: 12px 25px; background-color: #180269; color: white; border: none; border-radius: 5px; font-size: 18px; cursor: pointer;">Descargar Gafete</button>
</div>
{% endif %}

<script>
function downloadGafete() {
  var element = document.getElementById('gafete');
  html2canvas(element, {useCORS: true, backgroundColor: null, scale: 3, width: 880, height: 565, allowTaint: true, logging: true})
  .then(function(canvas) {
    var link = document.createElement('a');
    var nombreEmpleado = '{{ empleado.nombres }}' || 'alumno';
    var apellidosEmpleado = '{{ empleado.apellidos }}' || 'desconocido';
    link.href = canvas.toDataURL('image/jpeg', 1.0);
    link.download = nombreEmpleado + '_' + apellidosEmpleado + '_gafete.jpg';
    link.click();
  }).catch(function(error) {
    console.error('Error al generar la imagen:', error);
  });
}
</script>
{% endblock %}
